# https://platform.openai.com/account/api-keys
OPENAI_API_KEY=APIKEYGOESHERE
# https://console.groq.com/keys
GROQ_API_KEY=APIKEYGOESHERE
# https://brave.com/search/api/
BRAVE_SEARCH_API_KEY=APIKEYGOESHERE
# https://serper.dev/
SERPER_API=APIKEYGOESHERE
# https://developers.google.com/custom-search/v1/introduction#identify_your_application_to_google_with_api_ke
GOOGLE_SEARCH_API_KEY=APIKEYGOESHERE
GOOGLE_SEARCH_ENGINE_ID=APIKEYGOESHERE


# Set LAN GPU server, examples:
# PC | http://localhost:11434/v1
# LAN GPU server | http://192.168.1.100:11434/v1
OLLAMA_BASE_URL=http://localhost:11434/v1